{% extends "base.html" %}

{% block title %}Corrente {{nome}}{% endblock %}

{% block content %}

<!-- MAIN CONTAINER -->
<div id="container" class="container">
    <section>
        <div class="text-dark flex align-center center">
            Corrente {{nome}}
        </div>
    </section>
    <!-- SALE BANNER -->

    <section class="flex-column text-description">

        <div>{{description}}</div>
    </section>
    <section id="svg-aqui" class="flex flex-row center">
        <div class="flex-column">
            <div class="flex center banner-text">
                <div style="padding: 20px">Escolha os parâmetros da corrente:</div>
            </div>
            <div class="flex center banner-text ">
                <form action="" method="post">
                    <table>
                        {{form}}
                    </table>
                    {% csrf_token %}
                    <div class="flex center">
                        <button class="btn btn-primary" type="submit">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
        <svg width="600" height="500"></svg>
    </section>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
        // Step 1
        var data = JSON.parse("{{data|escapejs}}");

        const result = Object.keys(data).length * 1e-5

        console.log(data);

        // Step 3
        var svg = d3.select("svg"),
            margin = 200,
            width = svg.attr("width") - margin, //300
            height = svg.attr("height") - margin //200

        // Step 4 
        var xScale = d3.scaleLinear().domain([0, result]).range([0, width]),
            yScale = d3.scaleLinear().domain([-140, 140]).range([height, 0]);

        var g = svg.append("g")
            .attr("transform", "translate(" + 100 + "," + 100 + ")");

        // Step 5

        // X label
        svg.append('text')
            .attr('x', width / 2 + 100)
            .attr('y', height - 15 + 150)
            .attr('text-anchor', 'middle')
            .style('font-family', 'Helvetica')
            .style('font-size', 12)
            .text('Tempo (s)');

        // Y label
        svg.append('text')
            .attr('text-anchor', 'middle')
            .attr('transform', 'translate(60,' + height / 1.2 + ')rotate(-90)')
            .style('font-family', 'Helvetica')
            .style('font-size', 12)
            .text('Amplitude (mA)');

        // Step 6
        g.append("g")
            .attr("transform", "translate(0," + height / 2 + ")")
            .call(d3.axisBottom(xScale));

        g.append("g")
            .call(d3.axisLeft(yScale));

        // Step 8        
        var line = d3.line()
            .x(function (d) { return xScale(d.t); })
            .y(function (d) { return yScale(d.wave); })
            .curve(d3.curveMonotoneX)

        svg.append("path")
            .datum(data)
            .attr("class", "line")
            .attr("transform", "translate(" + 100 + "," + 100 + ")")
            .attr("d", line)
            .style("fill", "none")
            .style("stroke", "#1F4287")
            .style("stroke-width", "2");

    </script>


    </script>
</div>


{% endblock %}