{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{% static 'website/style.css' %}" rel="stylesheet">
</head>
<body>

  <!-- NAVIGATION -->
  <nav class="header-nav">
    <div class="flex space-between container">
      <!-- BRANDING -->
      <div class="flex align-center brand">
        <a href="#">
          {% load static %}<img class="logo" src="{% static 'website/img/logo.png' %}">
        </a>
      </div>
      <!-- SEARCH -->
      <div class="flex flex-one align-center">
        <div>
          <form>
            <input class="search-box" aria-label="Search" placeholder="Qual corrente você gostaria de simular?" type="Pesquisar">
            <button class="search-button" type="submit">PESQUISAR</button>
          </form>
          <ul class="flex space-between nav-list">
            
          </ul>
        </div>
        <!-- PROFILE -->
        <div class="flex align-center profile">
          <div class="flex flex-column account">
            {{client.name}} {{client.surname}}
            <a href="#">Sair</a>
          </div>
          <div class="profile-pic">{% load static %}<img src="{% static 'website/img/user4.jpg' %}"></div>
        </div>
      </div>
    </div>
  </nav>


    {% block content %}
    {% endblock %}
 <!-- FOOTER -->
  <footer>
    <section class="space-between container lists">
      <div class="links">
        <div class="text-primary link-header">Suporte ao Consumidor</div>
        <ul>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </div>
      <div class="links">
        <div class="text-primary link-header">Sobre nós</div>
        <ul>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </div>
      <div>
        <div class="text-primary link-header">Privacidade &amp; Termos</div>
        <ul>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </div>
      <div class="social">
        <div class="text-primary link-header">Redes sociais</div>
        <ul>
          <li><a class="twitter" href="#">
            {% load static %}<img src="{% static 'website/img/twitter.svg' %}">
          </a></li>
          <li><a class="facebook" href="#">
            {% load static %}<img src="{% static 'website/img/facebook.svg' %}">
          </a></li>
          <li><a class="instagram" href="#">
            {% load static %}<img src="{% static 'website/img/instagram.svg' %}">
          </a></li>
        </ul>
        <div class="newsletter">
          <div class="link-header">Email</div>
          <input class="form-control" type="text" placeholder="Digite seu email aqui" />
          <button class="btn btn-primary">Cadastre-se</button>
        </div>
      </div>
    </section>

    <!-- PS DEMO -->
    <section class="ps">
      <div class="flex flex-column align-center">
        <div class="demo">Considerações finais do site</div>
      </div>
    </section>

    <div class="text-primary copyright">&copy; JulianaCurty&amp;RafaelMolter 2022</div>
  </footer>
</body>
</html>

